@model IEnumerable<Seminari.Models.Seminar>

@{
    ViewData["Title"] = "Seminars";
}

<form asp-controller="Seminars" asp-action="Index">
    <label for="pretraga"><strong>Pretraga: </strong></label>
    <input type="text" id="pretraga" name="pretraga" />
    <input type="submit" value="Pretraži" />
</form>

<br />

<form>   
    <input type="submit" value="Novi unos" class="btn btn-primary" asp-controller="Seminars" asp-action="Create" />   
</form>

<br />

<table class="table" style="width:auto">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popunjen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPredavac)
            </th>
            <th>Broj polaznika</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(item => item.Naziv)) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeminar">Uredi</a> <br />
                <a asp-action="Delete" asp-route-id="@item.IdSeminar"><span style="color:red">Obriši</span></a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>                
                @if (item.Popunjen == true)
                {
                    <span style="color:red">Da</span>
                }
                else if (item.Popunjen == false)
                {
                    <span style="color:green">Ne</span>
                }
                else
                {
                    <span style="color: green">Ne</span>
                }
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.IdPredavacNavigation.ImePrezime)
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.Predbiljezbas.Count)
            </td>
        </tr>
}
    </tbody>
</table>
