@model IEnumerable<Seminari.Models.Predavac>

@{
    ViewData["Title"] = "Lecturers";
}

<form asp-controller="Predavacs" asp-action="Index">
    <label for="pretraga"><strong>Pretraga: </strong></label>
    <input type="text" id="pretraga" name="pretraga" />
    <input type="submit" value="Pretraži" />
</form>

<br />

<form>
    <input type="submit" value="Novi unos" class="btn btn-primary" asp-controller="Predavacs" asp-action="Create" />
</form>

<br />

<table class="table" style="width:50%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(item => item.Prezime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPredavac">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPredavac">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
